.handbook h3{
    text-align: center;
    color: red;
    font-size: 24px;
}
.handbook h4{
    font-family: arial;
    font-size: 14px;
}
.handbook-row{
	position: relative;
	display: flex;
	background-color: #fff;
	background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 5px;
}
.handbook-item{
	padding:10px;
	margin:2.5px !important;}
.handbook-item img{
	width:100%;
	height:180px;
	opacity:1;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;}	

.handbook-item a{
	color:#333;
	text-decoration:none;
	font-weight:bold;
	font-size: 20px;
}
.handbook-item h4{
	border-top: #a1a1a1 dashed 1px;
	margin-top: 10px;
	padding-top: 5px;
}
.handbook-item h4{
	color: #a1a1a1;
	white-space: nowrap;
 	overflow: hidden;
	text-overflow: ellipsis;
}
#handbook{
	padding:0 15px;
	margin-top:20px;}
#handbook-head{
	background:#FFF;
	border-radius:3px;
	padding:10px 0;}
#handbook-head h1{
	font-size: 20px;
}
#post-img{
	text-align: center;
}
#post-img img{
	width: 400px;
}