#search{
	padding-top: 5px;
	border-top: 2px dashed #d3d3d3;
	border-bottom: 2px dashed #d3d3d3;
	background-color: #FFF;
}
#search label, #search option {
	font-family: arial;
	font-size: 14px;
}
#search input{
	width: 80px;
}
#search input:hover{
	background-color: #d3d3d3;
	cursor: pointer;
}

#place, #price, #day-start {	
	font-family: arial;
	font-size: 14px;
}
#search-result{
	padding:10px;
	background:#333;
	color:#FFF;
	margin-bottom:10px;
	border-radius:3px;
	font-size:14px;}
#search-result span{
	color:#FFFF00;}	

#pagination ul{
	float:right;
	margin-top:20px;}
#pagination ul li a.page-link{
	color:#333333;}			
#pagination ul li a.page-link:hover{
	background:#EB1F27;
	color:#FFF;}
#pagination ul li.active a{
	background:#EB1F27;
	border-color:#dee2e6;
	color:#FFF;}		